<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script src="/js/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdn.staticfile.org/bootstrap-table/1.13.5/locale/bootstrap-table-zh-CN.min.js"></script>

    <script src="/js/gupiao.js"></script>
    <script src="/js/Ewin.js"></script>

</head>
<body>


<div class="content_wrap">
    <div class="section">
        <div class="content-title-wrap">
            <h1 class="content-title">公司列表</h1>
        </div>
    </div>

    <div class="section w_div_border">
        <div style="margin-bottom: 10px;">
            <a class="btn btn-primary_green" onclick="applyGongSi()"><span>添加</span></a>
            <input type="text" id="queryContext" class="search-input" placeholder="时间格式：2020-01-01">

            <a id="queryButton" class="btn-primary_blue marginL5" onclick="fillTable()"><span>查询</span></a>

        </div>

        <div id="content">
            <table id="table"></table>
            </table>
        </div>
    </div>
</div>


<!-- 添加模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加/修改公司
                </h4>
            </div>
            <form action="http://127.0.0.1:8080/applyGP" method="get">
                <div class="modal-body">
                    <!-- 模态框的内容-->
                    <div class="input-group">
                        <span class="input-group-addon">编号</span>
                        <input type="text" id="code" name="code" class="form-control" placeholder="输入编号">
                    </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">名称</span>
                        <input type="text" id="name" name="name" class="form-control" placeholder="输入名称">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary_red"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="submit" value="Submit" id="addCommit" class="btn btn-primary_blue">
                        确认
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>