<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详细</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css"/>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script src="/js/xiangxi.js"></script>
    <script src="/js/Ewin.js"></script>
</head>
<body>



<div class="content_wrap">
    <div class="section">
        <div class="content-title-wrap">
            <h1 class="content-title">
                <dev id="gongsi_code"></dev> &nbsp -
                <dev id="gongsi_name"></dev>
                详细列表
            </h1>
            <input type="hidden" id="parentId1" name="parentId1">
        </div>
    </div>
    <!-- 按钮触发模态框 -->
    <div class="actions-panel">
        <a class="btn btn-primary_green" onclick="applyXiangXi()"><span>添加</span></a>
        <a class="btn btn-primary_blue" onclick="goBack()"><span>返回</span></a>
    </div>
    <div class="section w_div_border">
        <div class="grid-wrap w_table_line">
            <!--表格表头-->
            <table id="table1" class="table">
                <thead id="thead1">
                <tr>
                    <th>时间</th>
                    <th>投股</th>
                </tr>
                </thead>
                <tbody id="tb1">
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- 添加模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加/修改详细
                </h4>
            </div>
            <form action="http://127.0.0.1:8080/applyXX" method="get">
                <div class="modal-body">
                    <!-- 模态框的内容-->
                    <div class="input-group">
                        <span class="input-group-addon">时间</span>
<!--                        <input type="text" id="time" name="time" class="form-control" placeholder="输入时间">-->

                        <div class='input-group date' id='datetimepicker2'>
                            <input type='text' id="time" name="time" maxlength="0" class="form-control" />
                            <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>

                    <br>
                    <div class="input-group">
                        <span class="input-group-addon">投股</span>
                        <input type="text" id="tougu" name="tougu" class="form-control" placeholder="输入投股">
                        <input type="hidden" id="parentId" name="parentId">
                        <input type="hidden" id="id" name="id">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary_red"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="submit" value="Submit" id="addCommit" class="btn btn-primary_blue">
                        确认
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>